@import 'tailwindcss';

@font-face {
  font-family: 'Inter';
  src: url( './Inter.woff2' ) format( 'woff2' );
  font-weight: 100 900;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url( './JetBrains-Mono.woff2' ) format( 'woff2' );
  font-weight: 100 900;
}

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --color-primary: #2563eb;
}

button, a, [role="button"], input[type="submit"], input[type="button"] {
  cursor: pointer;
}
